/*
  nav-load = time: 800
  home link-load = time: 500, delay: 600 
  about link-load = time: 250, delay:700
  contact link-load = time: 350, delay:700
  title-load = time: 200 delay 650  
  last-title-load = time: 300 delay 850  
  box-div-load = time: 300 delay 700  
*/

*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #252525;
  background-image: url('../img/fk-bg-black-grey.png') ;
  /* background-position: center bottom; */
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/**********************************************************
           Header & Navigation
************************************************************/

header {
  background-color: #000;
  max-height: 4rem;
  border-bottom: 2px solid #8020ee;
  transition: border 400ms ease-in;
  animation: nav-load  ease-in 800ms;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 3.9rem;
  height: 3.9rem;
}

header nav .logo__img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header nav ul.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 1.5rem;
  transform: translateX(-100%);
}

header nav .menu .menu-link {
  text-decoration: none;
  color: #7e89f7;
  text-transform: uppercase;
  margin-right: 1rem;
  transition: color ease-in 300ms;
}


header:hover {
  border-bottom-color:aqua;
}

header:hover .menu .menu-link {
  color: #fff;
}

header nav .menu .menu-link:hover {
  color: aqua;
}
.menu-link:hover header {
  border-bottom-color: #fff;
}

header nav .menu li:first-of-type {
  animation: link-load 500ms ease-in 600ms ;
} 

header nav .menu li:nth-child(2) {
  transform: scale(0);
  animation: scale-link-load 250ms ease-in 700ms forwards;
} 

header nav .menu li:last-of-type {
  animation: contact-link-load 350ms ease-in 650ms forwards;
} 

.menu .menu-link.current {
  color: #674d7b;
}

@keyframes nav-load {
  0% {
    transform: translateY(-150%);
    z-index: 10;
  }

  100% {
    transform: translateY(0);
    z-index: 10;
  }
}

@keyframes link-load {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale-link-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes contact-link-load {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}
